
.nav-link {
    color: #fff;
  }
  
  .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #f4f4f4 !important;
  }
  
  .navbar-brand {
    color: #f4f4f4;
  }
  .navbar.alt-color {
      background:linear-gradient(to bottom right, #4bc82c, #6ff36c);
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3) !important;
      transition: ease-in-out !important;
    }
  .chng:hover{
      color: #4bc82c !important;
  }
  
  .hero {
      padding-bottom: 100px;
     background:linear-gradient(to bottom right, #4bc82c, #6ff36c), url('../img/imag.jpg') !important;
    }
  
  .hero-heading {
    color: #fff;
  }
  
  .hero-sub-title > a:hover {
    color: #f4f4f4 !important;
  }
  
  /* 
  =================================
  --------- Media Query -----------
  ===============================*/
  
  /*==============================
  ---------- Mobile View  --------
  ==============================*/
  @media (min-width: 350px) and (max-width: 1024px) {
    
    .navbar-collapse {
      background:linear-gradient(to bottom right, #4bc82c, #6ff36c);
    }
  
    nav {
      ul li > a {
        color: white !important;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  
  .text-primary{
      color: #4bc82c !important;
  }
  .bg-primary{
      background-color: #4bc82c !important;
  }
  
  #contact{
      background:linear-gradient(to bottom right, #4bc82c, #6ff36c);
    }
  
    
  #material-tabs {
    border-bottom: 1px solid #e0e0e0;
  }
  
  #material-tabs>a {
    color: #424f5a;
  }
  
  #material-tabs>a.active {
    font-weight: 700;
    outline:none;
  }
  
  #material-tabs>a:not(.active):hover {
    color: #7c848a;
  }
  
  @media only screen and (max-width: 520px) {
    .nav-tabs#material-tabs>li>a {
        font-size: 11px;
    }
  }
  
  .yellow-bar {
    background: #4bc82c;
  }
  .btn-primary{
    background-color: #4bc82c !important;
  }